<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion gasto:</strong>
  <%= @tipo_gasto.descripcion_gasto %>
</p>

<%= link_to 'Edit', edit_tipo_gasto_path(@tipo_gasto) %> |
<%= link_to 'Back', tipo_gastos_path %>
